<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="lobby" role="button">
        BACK</a>
  </span>
<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/Exhibition.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div>
            <div>
                <!-- <div class="dareToInnovative" (click)="gotoCommitToSucceed('329')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="commitToSucceed" (click)="gotoCommitToSucceed('283')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="growBySharing" (click)="gotoGrowBySharing()">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="care" (click)="gotoCommitToSucceed('282')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="lilly_4" (click)="gotoCommitToSucceed('334');stepUpAnalytics('click_informationtech')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_5" (click)="gotoCommitToSucceed('329');stepUpAnalytics('click_finance')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_6" (click)="gotoCommitToSucceed('335');stepUpAnalytics('click_regulatory')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_7" (click)="gotoCommitToSucceed('333');stepUpAnalytics('click_fmemarketing')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_8" (click)="gotoCommitToSucceed('330');stepUpAnalytics('click_supplychain')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_9" (click)="gotoCommitToSucceed('332');stepUpAnalytics('click_compliance')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_10" (click)="gotoCommitToSucceed('337');stepUpAnalytics('click_sales')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_11" (click)="gotoCommitToSucceed('338');stepUpAnalytics('click_technicalservices')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_12" (click)="gotoCommitToSucceed('331');stepUpAnalytics('click_humanresources')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_13" (click)="gotoCommitToSucceed('336');stepUpAnalytics('click_providerbusiness')">
                    <div class="pulsating-circle"></div>
                </div>
            </div>
        </div>
    </div>
</section>