<!-- <div class="bg">
    <div (click)="openCapturePhotoModal()" data-toggle="modal" class="capturePhotoModal" id="openPopup">
        <div style="position:relative; top:45px; left:45px" class="pulsating-circle"></div>
    </div>

</div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
  </span>

<section>
    <div id="content">
        <div id="content_cam">
            <div id="bg">
                <img src="assets/photobooth.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                  The session is currently live, please proceed towards the grand ballroom.
                </div>
              </div>
            <div (click)="openCapturePhotoModal()" data-toggle="modal" id="openPopup">
                <div class="pulsating-circle"></div>
            </div>
        </div>
    </div>
</section>

<!-- capture photo -->

<div class="modal fade capturePhotoModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Take A Snap</h6>
                                <a class="close" (click)="closeCamera()"></a>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div id="wholeCam" class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                                                <div id="headerimg">
                                                                        <img src="assets/booth.png" style="width: 100%" alt="">
                                                                    </div>
                                                                    <div style="margin-left: 76%;
                                                                    margin-right: 1%;
                                                                    margin-top: 38%;
                                                                    margin-bottom: 10%;" >
                                                                        <video #video id="vid" class="vid videoData" autoplay></video>
                                                                    </div>
                                                           

                                                            <!-- <img style="position: absolute;top:25px;left:37px;" id="logo"
                                                                src="../../../assets/logo.png" /> -->
                                                            <!-- <div id="watermark">
                                                                <img style="width: 100%; height: 6vh;" id="logo"
                                                                    src="../../../assets/serdia_myanmar/images/btm.png" />
                                                            </div> -->
                                                            <!-- <video id="vid"></video>

                                                <br /><br />
                                                <button>take a snapshot</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="position: absolute;
                                                bottom: 10px;" class="p-1" *ngIf="!showImage">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <img src="../../../assets/camera.png" width="50" style="cursor: pointer"
                                                                (click)="capture()" alt="">
                                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                                    <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                                    <div class="text-center p-2">
                                                        
                                                        <a href="{{img}}" download="screenshot.jpeg"><img src="../../../assets/download.png"
                                                                width="50" alt="" (click)="uploadVideo()"></a>
                                                        &nbsp; &nbsp; &nbsp;

                                                        <a style="cursor:pointer"><img src="../../../assets/retake.png"
                                                                width="50" alt="" (click)="reload()"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>