<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<div class="bg"></div>
<div style="position: relative;  top: -69%;  left: 25%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
      <!-- <vg-playback-button></vg-playback-button> -->
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4"  >
    <source src="{{exhibiton.video}}" type="video/mp4">
    </video>
</vg-player>
</div>
<div class="chats" title="Chat with booth staff" (click)="openChat()">
  <div class="pulsating-circle" ></div>
</div>
<div class="docs" title="Show Documents" (click)="openDocs()">
  <div class="pulsating-circle" ></div>
</div>
<div class="call" title="Schedule a call" (click)="openCallBox()">
  <div class="pulsating-circle" ></div>
</div>
<div class="info" title="Sales info" (click)="opensales()">
  <div class="pulsating-circle" ></div>
</div>
