<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Group Chat</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">
          <h6 style="text-align: center;"></h6>
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 pl-0">
              <div class="chat_box">
                <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                  <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                    <div class="user-profile-data">
                        <div class="user-profile-image"> <img class="img-responsive user-profile-img" src="assets/img/user1.jpg"
                                width="32">
                        </div>
                        <div class="user-profile-info">
                            <p class="user-profile-name"><a href="javascript:void(0);">{{user.user_name}}</a></p>
                            <p class="user-profile-company">{{user.chat_data}}</p>
                        </div>
                    </div>

                </li>
                </ul>
              </div>
              <div class="message_input">
                  <textarea name="message" autocomplete="off" placeholder="Chat will be shown after moderation" [formControl]="textMessage" (keyup.enter)="postMessage(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                </div>
                <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" (click)="postMessage(textMessage.value)">Send</button>
            </div>
            <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>